.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    height: 80px;
    background-color: #1875D1;
}

.searchBar {
    background: #fff;
    padding: 1em;
    width: 600px;
    border-radius: 10em;
    border-color: transparent;
}
